$theme-colors: (
  'biz-navbar': #FFF,
  'fav-star-checked': #DE963B,
  'fav-star-unchecked': #AAA
);

$body-bg: #EEE;

.pagination .page-item .page-link, .btn.btn-warning {
  color: #F6BF3E;
}

.pagination .page-item.disabled {
  cursor: not-allowed;
}

.pagination .page-item.active .page-link, .btn.btn-warning {
  background-color: #F6BF3E;
  border-color: #F6BF3E;
}

.modal-backdrop {
  opacity: .5;
}

.modal-body.biz-modal-body {
  padding: 0;
}

@media (min-width: 720px) {
  .modal-dialog.modal-lg {
    max-width: 690px;
  }
}

@import '~bootstrap/scss/bootstrap';
