$theme-colors: (
  'biz-navbar': #FFF,
  'fav-star-checked': #DE963B,
  'fav-star-unchecked': #AAA
);

$body-bg: #EEE;

.pagination .page-item .page-link, .btn.btn-warning {
  color: #F6BF3E;
}

.pagination .page-item.disabled {
  cursor: not-allowed;
}

.pagination .page-item.active .page-link, .btn.btn-warning {
  background-color: #F6BF3E;
  border-color: #F6BF3E;
}

@import '~bootstrap/scss/bootstrap';
